<div class="container">

    <div class="d-flex justify-content-between mb-5">
        <h3>Product Table</h3>
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Images</th>
                <th scope="col">CRUD</th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
            }
            @foreach (var item in ViewData["Products"] as List<Product>)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>
                        @foreach (var image in item.Images)
                        {
                            <img src="~/Upload/ProductImages/@image.ImgUrl" width="100px" />
                        }
                    </td>
                    <td>
                        <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-primary">Detail</a>
                        <a asp-action="Delete" asp-controller="Product" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>